
*.xci
*.bda
*.directive
*.launch
*.apfmapping
*.bc
*.json
*.log
.gitignore.bak
PicoDMA/HLS/HLS_PicoDMA/*.funcunit
PicoDMA/**/*.xml
PicoDMA/FPGA/PicoDMA.hw/PicoDMA.lpr
PicoDMA/FPGA/PicoDMA.cache/wt/project.wpc
PicoDMA/HLS/.cproject
PicoDMA/HLS/.project
PicoDMA/HLS/.settings/*
PicoDMA/HLS/HLS_PicoDMA/.autopilot/*
PicoDMA/HLS/HLS_PicoDMA/.debug/*
PicoDMA/HLS/HLS_PicoDMA/.tcls/*
PicoDMA/HLS/HLS_PicoDMA/csim/*
PicoDMA/HLS/HLS_PicoDMA/impl/*
PicoDMA/HLS/HLS_PicoDMA/sim/*
PicoDMA/HLS/HLS_PicoDMA/syn/*
PicoDMA/HLS/.apc/*
PicoDMA/IP_Library/export.zip
PicoDMA/IP_Library/*
PicoDMA/FPGA/PicoDMA.gen/sources_1/bd/PCIe_DMA_Interface/PCIe_DMA_Interface.bxml
PicoDMA/FPGA/PicoDMA.srcs/sources_1/bd/PCIe_DMA_Interface/ui/bd_df25f422.ui
*.bak
